.main {
  border-radius: 10px;
  background-color: rgb(248, 244, 244);
}

.editorWrapper {
  font-family: "Helvetica", "Arial", sans-serif;
  border-radius: 10px;
  background-color: transparent;
  padding: 12px 10px;
}

.html {
  scroll-behavior: smooth;
}
