.intro {
  min-height: 60vh;
  background-color: #f6f6f6;
  // display: grid;
  // place-items: center;

  .text {
    padding: 5rem 1rem;
  }
  .textPrimary {
    font-weight: 400 !important;
    max-width: 482px !important;
    font-size: 3rem;
  }
}

.topics .card:nth-child(3n + 2) > div {
  margin-top: 2rem !important;
  // display: none;
}
