.newGistModal {
  // padding: 40px !important;
  padding: 40px 0 40px 0 !important;
}
.closeBtn {
  margin-top: 20px;
  margin-left: 20px;
}
.intro {
  min-height: 60vh;
  background-color: #f6f6f6;

  @media screen and (max-width: 1100px) {
    min-height: 35vh;
  }

  @media screen and (max-width: 960px) {
    min-height: 30vh;
  }

  @media screen and (max-width: 800px) {
    min-height: 40vh;
  }

  @media screen and (max-width: 730px) {
    margin: 0 1rem;
    min-height: 60vh;
  }

  @media screen and (max-width: 650px) {
    margin: 1rem;
  }

  @media screen and (max-width: 450px), screen and (max-width: 400px) {
    margin: 1.5rem 1rem 0;
    min-height: 60vh;
  }

  @media screen and (max-width: 420px) {
    margin: 0 1rem;
    min-height: 60vh;
  }

  @media screen and (max-width: 300px) {
    min-height: 50vh;
    margin-top: 1rem;
  }

  text {
    p {
      @media screen and (max-width: 900px) {
        font-size: medium;
      }

      @media screen and (max-width: 400px) {
        font-size: small;
      }
    }
  }
  .textPrimary {
    font-weight: 400 !important;
    max-width: 482px !important;
    margin-top: 5rem;
    font-size: 3rem;

    @media screen and (max-width: 960px) {
      font-size: 2.5rem;
      margin-top: 1rem;
    }

    @media screen and (max-width: 800px) {
      font-size: xx-large;
      margin-top: 0;
    }

    @media screen and (max-width: 600px) {
      font-size: 2.6rem;
      margin-top: 1rem;
    }

    @media screen and (max-width: 470px) {
      font-size: xx-large;
    }

    @media screen and (max-width: 360px) {
      font-size: x-large;
    }

    @media screen and (max-width: 300px) {
      margin-top: 0;
    }
  }
}

.topicsSection {
  h1 {
    @media screen and (max-width: 1100px) {
      font-size: xx-large;
    }

    @media screen and (max-width: 500px) {
      font-size: x-large;
    }
  }

  .topics .card:nth-child(3n + 2) > div {
    margin-top: 2rem !important;
  }
}

.write {
  h1 {
    @media screen and (max-width: 1100px) {
      font-size: xx-large;
    }

    @media screen and (max-width: 500px) {
      font-size: x-large;
    }
  }
}
