.wrapper {
  display: grid;
  grid-template-columns: 100%;
  height: auto;
  margin-bottom: 2rem !important;
  padding-bottom: 2rem !important;
  
  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
  @media screen and (max-width: 750px) {
    margin-bottom: 4rem !important;
  }

  .posts,
  .profile {
    margin-left: 270px;

    @media screen and (max-width: 960px) {
      margin-left: 0;
      margin-top: 2rem;
    }
  }

 
}
.newGistModal {
  padding: 40px;
}
.closeBtn {
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .newGistModal {
    padding: 20px;
  }
  // .modal {
  //   // margin: auto;
  //   margin-top: 100px;
  // }
  .closeBtn {
    margin-top: 40px;
  }
}
