.continueWith {
  margin-top: 3rem;
  text-align: center;

  position: relative;
  .buttons {
    margin-top: 0.5rem;
    display: flex;

    justify-content: center;
    align-items: center;
    button {
      width: 220px;
      height: 45px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button:hover {
      background: none;
    }
  }
  // &::before {
  //   content: "";
  //   width: 30%;
  //   border: 1px solid #afafaf;
  //   position: absolute;
  //   left: 10px;
  //   bottom: 160px;
  //   @media screen and (max-width: 1199px) {
  //     left: -15px;
  //     width: 25%;
  //   }
  // }
  // &::after {
  //   content: "";
  //   width: 30%;
  //   border: 1px solid #afafaf;
  //   position: absolute;
  //   right: 10px;
  //   bottom: 160px;
  //   @media screen and (max-width: 1199px) {
  //     right: -15px;
  //     width: 25%;
  //   }
  // }
}
.imgWrapper {
  position: relative;
  min-height: 80vh;
  background-image: url("/images/formbg.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  .formvector {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }

  p {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: #ffffff;
    font-weight: bold;
    width: 215px;
    height: 135px;
    line-height: 34px;
    font-size: 1.625rem;
  }
}

.form {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input {
    width: 100%;
    margin-bottom: 1rem;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    color: black;
    padding: unset;
    margin-bottom: unset;
  }

  h1,
  p {
    text-align: center;
  }
  button {
    padding: 0.5rem 3rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.vector2 {
  position: absolute;
  bottom: -35%;

  width: 15vw;
  right: 0;
  z-index: -1;

  @media screen and (max-width: 769px) {
    width: 250px;
    bottom: -20%;
  }
}

.formWrapper {
  margin-bottom: 11rem;

  @media screen and (min-width: 360px) {
    margin-bottom: 9rem;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 4rem;
  }
  @media screen and (min-width: 990px) {
    margin-bottom: 5rem;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 1rem;
  }
}
