.gist {
  
  h1 {
    line-height: 47.73px;
    font-size: 2.5rem;

      @media screen and (max-width: 1200px){
        font-size: x-large;
      }
  }
  h2 {
    font-size: 1.5625rem;

      @media screen and (max-width: 1200px){
        font-size: x-large;
      }
  }

  .wrapper{
      border: none;
      height: 20rem;
      justify-content: start !important;
      position: static;
  }
}

.cards {
    overflow-y: scroll;
    max-height: 100vh;
    min-height: 20vh;
    position: static;

  .ul{
      .li{
        
        .div{
            border: none;
        }
      }
  }
}



.time{
  font-size: small;


  @media screen and (max-width:800px){
    font-size: smaller;
  }

  @media screen and (max-width:500px){
    font-size: x-small;
  }

  @media screen and (max-width:400px){
    font-size: xx-small;
  }
}


