.gist {
  h1 {
    line-height: 47.73px;
    font-size: 2.5rem;

      @media screen and (max-width: 1200px){
        font-size: x-large;
      }
  }
  h2 {
    font-size: 1.5625rem;

      @media screen and (max-width: 1200px){
        font-size: x-large;
      }
  }
}

.cards {

  .ul{
      .li{
        
        .div{
            border: none;
        }
      }
  }
}
