.gist {
  margin-top: 2rem;

  h1 {
    line-height: 47.73px;
    font-size: 2.5rem;

    @media screen and (max-width: 1200px) {
      font-size: x-large;
    }
  }
  h2 {
    font-size: 1.5625rem;

    @media screen and (max-width: 1200px) {
      font-size: x-large;
    }
  }

  .wrapper {
    border: none;
    justify-content: start !important;
    position: static;
  }
}

.ul {
  .li {
    .div {
      border: none;
    }
  }
}

.create {
  margin-right: -0.5rem;
  cursor: pointer;

  @media screen and (max-width: 900px) {
    width: 40px;
  }

  @media screen and (max-width: 400px) {
    width: 30px;
  }
  @media screen and (max-width: 300px) {
    width: 20px;
  }
}
.newGistModal {
  padding: 40px;
}

@media screen and (max-width:768px) {
  .GistModal{
    width: 100% !important;
    margin: 0 !important;
  }
}


.gistBody {

  margin-top: -1rem;
  line-height: 1.3rem;

  @media screen and (max-width: 300px) {
    font-size: smaller;
  }
}

.closeBtn {
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .newGistModal {
    padding: 20px;
  }
  // .modal {
  //   // margin: auto;
  //   margin-top: 100px;
  // }
  .closeBtn {
    margin-top: 40px;
  }
}

.img {
  @media screen and (max-width: 500px) {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 400px) {
    width: 35px;
    height: 35px;
  }
}

.div {
  margin-right: 0.2rem !important;
}
.title {
  @media screen and (max-width: 850px) {
    font-size: medium;
  }

  @media screen and (max-width: 768px) {
    font-size: large;
  }

  @media screen and (max-width: 500px) {
    font-size: medium;
  }

  @media screen and (max-width: 430px) {
    font-size: small;
  }
}
.time {
  @media screen and (max-width: 800px) {
    font-size: smaller;
  }

  @media screen and (max-width: 500px) {
    font-size: x-small;
  }

  @media screen and (max-width: 400px) {
    font-size: xx-small;
  }
}
