@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Source+Sans+Pro:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Work Sans";
}
html,
body {
  font-family: "SF Pro";
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}
.radius-10 {
  border-radius: 10px;
}
.radius-20 {
  border-radius: 20px;
}

.bg-white {
  background-color: white;
}
body {
  overflow-x: hidden;
}

.body {
  padding-top: 6vmax;
  min-height: 90vh;
  margin-bottom: 1rem;
  @media screen and (max-width: 1000px) {
    padding-top: 5vmax;
  }

  @media screen and (max-width: 730px) {
    padding-top: 6vmax;
  }
  @media screen and (max-width: 766px) {
    margin-top: 1.7rem;
  }

  @media screen and (min-width: 768px) {
    margin-top: 3.3rem;
  }

  @media only screen and (min-width: 1001px) and (max-width: 4096px) {
    margin-top: 0.5rem;
  }
}
.footer-logo {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
  }
}
.footer-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mobile-only {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    margin-top: 20px;
  }
}
.accordion-button {
  background-color: #f0f0f1 !important;
  color: #284d59 !important;
  border-right: 0px !important;
  border-left: 0px !important;
}
.accordion-button:focus {
  box-shadow: none;
}
.desktop-only {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.footer-icon {
  margin-right: 20px;
  color: #71909b;
  cursor: pointer;
  @media screen and (max-width: 500px) {
    margin-right: 40px;
  }
}
.footer-text {
  line-height: 36px;
}
.fixed-bottom-navBar-text {
  @media screen and (max-width: 768px) {
    font-weight: 700 !important;
    font-size: 14px;
  }
}
.message-icon-circle {
  position: fixed;
  z-index: 1000;
  top: 80%;
  left: 90%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  background: rgba(69, 90, 100, 0.49);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    left: 80%;
    top: 80%;
    height: 50px;
    width: 50px;
  }
}
.heading {
  font-size: 20px !important;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: 18px !important;
  }
}
a {
  text-decoration: none;
}
nav a {
  color: inherit;
  text-decoration: none !important;
  transition: ease-in 0.3s;
}

.footer a {
  color: #284d59;
}

.btn-primary {
  color: white !important;
}
.navbar {
  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
}
.nav_bar {
  backdrop-filter: blur(3px);
  background-color: white;

  a {
    color: inherit !important;
  }
  .vector1 {
    position: absolute;
    left: 0;
    z-index: -5;
  }

  @media screen and (min-width: 1024px) {
  }
  @media screen and (max-width: 992px) {
    .vector1 {
      left: 0;
      width: 9%;
      z-index: -1;
    }
    .navbar-collapse {
      text-align: center;
      font-size: 1.5rem;

      padding: 5rem 0;
      min-height: 100vh;

      .buttons {
        flex-direction: column;
      }
    }
  }
}
nav {
  a:hover {
    color: #069197 !important;
  }

  button {
    width: 120px;
  }
}

* {
  box-sizing: border-box;
}
.bold {
  font-weight: 500;

  @media screen and (max-width: 1000px) {
    margin-left: 1.5rem;
  }

  @media screen and (max-width: 500px) {
    font-weight: smaller;
  }

  @media screen and (max-width: 300px) {
    font-size: 0.7rem;
    margin-left: 0rem;
  }
}

.bolden {
  font-weight: 500;

  @media screen and (max-width: 500px) {
    font-weight: smaller;
    margin-left: -2rem;
  }

  @media screen and (max-width: 300px) {
    font-size: 0.7rem;
    margin-left: 0rem;
  }
}

.image1 {
  @media screen and (max-width: 700px) {
    width: 12px;
  }
  @media screen and (max-width: 300px) {
    width: 8px;
  }
}

.image2 {
  width: 20px;
  height: fit-content;

  @media screen and (max-width: 700px) {
    width: 12px;
  }
  @media screen and (max-width: 300px) {
    width: 8px;
  }
}

.mb-div {
  @media screen and (max-width: 1000px) {
    margin-left: 1rem;
  }

  .mb-btns {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1.5rem;

    @media screen and (max-width: 1000px) {
      padding: 0.5rem 1.2rem;
    }

    @media screen and (max-width: 700px) {
      font-size: small;
      margin: 1rem 0.4rem;
    }

    @media screen and (max-width: 430px) {
      font-size: smaller;
      margin: 1rem 0.3rem;
    }

    @media screen and (max-width: 360px) {
      font-size: x-small;
      margin: 0.8rem 0.3rem;
    }
    @media screen and (max-width: 360px) {
      font-size: xx-small;
      margin: 0.7rem 0.3rem;
    }
  }
}
.dot-btn {
  font-size: 2rem;
  background: none !important;
  margin-top: 5rem;
  margin-right: -2rem;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media screen and (max-width: 1290px) {
    margin-right: -4rem !important;
  }

  @media screen and (max-width: 1200px) {
    margin: 4.5rem 0 0 5rem;
  }

  @media screen and (max-width: 992px) {
    margin-top: 5rem;
    font-size: 1.7rem;
  }

  @media screen and (max-width: 800px) {
    margin-top: 5rem;
    margin-left: 4rem;
    font-size: 1.7rem;
  }

  @media screen and (max-width: 599px) {
    margin-top: 4rem;
    margin-left: 2rem;
  }

  @media screen and (max-width: 400px) {
    margin-left: 3rem;
    margin-top: 4.5rem;
  }

  @media screen and (max-width: 300px) {
    font-size: 1.4rem;
    margin-left: 3.5rem;
  }
}

.post-content {
  p {
    font-size: large;

    @media screen and (max-width: 1100px) {
      font-size: medium;
    }

    @media screen and (max-width: 300px) {
      font-size: x-small;
    }
  }
}

.ham-menu {
  font-size: 2rem;
  border: none;
  color: #207681;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: 380px) {
    font-size: x-large;
  }
  @media (max-width: 260px) {
    font-size: larger;
  }
}
.text-primary {
  font-weight: 500 !important;
}
.footer {
  position: absolute;
  font-family: "Work Sans", sans-serif;
  z-index: 3;
  margin-top: 2rem;
  width: 100%;
  background: #f0f0f1;
  color: #284d59;
  padding: 3rem 0;
  h3 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  a {
    display: block;
  }
  .top {
    border-top: 1px solid #ffffff;
  }
}

section {
  padding: 1rem 0;

  @media screen and (max-width: 994px) {
    padding: 1rem 0;
  }
}

.carousel_item {
  width: 260px !important;
  border-radius: 8.21687px;
  margin-bottom: 1rem;

  .card {
    width: 100%;
    border: none;
    box-shadow: 0px 2px 15px rgba(33, 33, 52, 0.1);

    @media screen and(max-width:1000px) {
      width: 95% !important;
      font-size: medium !important;
    }
  }

  @media screen and(max-width:1000px) {
    width: 240px !important;
  }

  @media screen and(max-width:500px) {
    width: 180px !important;
  }
}

form label {
  text-transform: capitalize !important;
}

input,
textarea {
  background-color: #f4f4f4 !important;
  border: none !important;
}

.border-right {
  border-right: 1px solid #dddcdc;
}

.contact-icon {
  color: #052b29;
  font-weight: bold;
}

.active a {
  color: #207681 !important;
}

.desktop-only {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.outline-primary {
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 10px;

  @media screen and (max-width: 300px) {
    font-size: smaller !important;
    padding: 0.2rem 0.5rem;
  }
}

.card li {
  margin: 0;
  padding: 0;
}

.img2 {
  @media screen and (max-width: 600px) {
    width: 0.5rem;
  }
  @media screen and (max-width: 300px) {
    width: 0.2rem;
    // margin-top: -6rem;
  }
}

.cards {
  border: none;
  padding: 2rem;
  box-shadow: 0px 2px 15px rgba(33, 33, 52, 0.2);

  @media screen and (max-width: 500px) {
    padding: 1rem 1rem;
  }

  @media screen and (max-width: 400px) {
    padding: 0 1rem;
  }
}

.img-container {
  @media screen and (max-width: 748px) {
    margin-bottom: 2rem;
  }
}

.image-container {
  @media screen and (max-width: 748px) {
    margin-top: -4rem;
    margin-bottom: 2rem;
  }
}
.absolute-bottom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.auth-gap {
  @media screen and (max-width: 1100px) {
    grid-gap: 0 !important;
    gap: 0 !important;
  }
}

.auth-name {
  @media screen and (max-width: 1100px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 750px) {
    display: block !important;
  }
}

.auth-nav {
  @media screen and (max-width: 1100px) {
    gap: 1rem !important;
  }

  @media screen and (max-width: 750px) {
    display: none !important;
  }

  a {
    @media screen and (max-width: 1100px) {
      margin-right: 0.5rem !important;
    }
  }
}

.nav-item {
  @media screen and (max-width: 1000px) {
    margin-bottom: 2.5rem;
  }
  a {
    color: inherit;
    margin-right: 3rem;

    @media screen and (max-width: 1100px) {
      margin-right: 1.5rem;
    }

    @media screen and (max-width: 900px) {
      font-size: large;
    }
  }
}

.nav-btn {
  margin-top: 1rem;
}

.nav-tabs li button.active {
  background-color: #0b5351 !important;
  color: #ffffff !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.nav-tabs li button {
  color: var(--bs-secondary) !important;

  border-radius: 5px;
}

.mobi-nav {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.notifications .nav-link {
  padding: 0;
}

.dropdown-menu {
  padding: 0.5rem;
  border: none;
}

.padding-top {
  padding-top: 5vh;

  @media screen and (min-width: 1024px) {
    padding-top: 7vh;
  }

  @media screen and (min-width: 1800px) {
    padding-top: 0;
  }
  @media screen and (max-width: 768px) {
    margin-top: -1rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    max-width: unset !important;
  }

  .modal-content {
    position: absolute;
    margin-top: -2rem;
    top: 0;
    min-height: 100vh;
    width: 100%;
  }
}
.dropdown-toggle {
  &:after {
    display: none !important;
  }
}

.pushDownNavBarBottomOnSm {
  @media screen and (max-width: 991px) {
    padding-bottom: 8vh;
  }
  @media screen and (max-height: 475px) {
    padding-bottom: 14vh;
  }
}
