.wrapper {
  display: grid;
  grid-template-columns: 100%;
  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }

  .posts,
  .profile {
    margin-left: 270px;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.addNewGroupBtn {
  margin-bottom: 0.5rem;

  @media screen and (max-width: 767px) {
    margin-top: -1.4rem;
  }
}
.groupLists{
  margin-top: 20px;
}
.groupCard{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}
.groupProfileImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.groupAdminName{
  font-size: 13px;
  font-weight: 400;
  color: grey;
}