.content{
    background-color: white;
    max-width: 900px;
    min-height: 200px;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    padding-top: 40px;

    @media screen and (max-width:768px) {
       margin-right: 10px;
       margin-left: 10px;
    }
}

.userBox{
   margin-bottom: 20px;
}
.inviteText{
    color: rgb(8, 70, 8);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}