.main_container {
  position: relative;
  .vector2 {
    position: absolute;
    width: 30vw;
    // transform: rotate(90deg);
    bottom: -40%;
    right: 0;
    z-index: -1 !important;

    @media screen and (max-width: 769px) {
      width: 250px;
      bottom: -20%;
    }
  }
}
.main {
  min-height: 90vh;

  .text {
    position: relative;

    .text_primary {
      font-size: 3rem;
      font-weight: bold;
      span {
        color: #0b5351;
      }
    }
    &::before {
      content: "";
      width: 85px;
      border-top: 3px solid #0b5351;
      position: absolute;
      top: 0;
      left: 2rem;
    }

    @media screen and (max-width: 768px) {
      position: relative;
      margin: 9rem 0;

      &::before {
        content: "";
        width: 5rem;
        left: 2rem;
        border-top: 3px solid #0b5351;
        position: absolute;
        top: 0;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }

  .image_section {
    position: relative;
  }
}

.heading {
  color: #0b5351;
}
.services {
  background: linear-gradient(180deg, #ffffff 0%, #e9f9fb 100%);
  z-index: 1;
  display: flex;

  .row {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  .masonry {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2.5%;
    img {
      width: 100%;
      height: min(25vh, 200px);
      object-fit: cover;
      object-position: center;

      border-radius: 5px;

      @media screen and (max-width: 768px) {
        height: min(20vh, 150px);
      }
    }

    img:nth-child(3) {
      width: 90%;
      margin-left: 10%;
    }
    img:nth-child(4) {
      height: 80%;
      margin-bottom: 10%;
    }
  }
}

.articles {
  .heading {
    text-align: center;
  }

  .cards {
    h3 {
      font-size: 1.4rem;
      color: #0b5351;
    }
  }
}
