@media screen and (max-width: 285px) {
  .image {
    width: 190px;
    height: 160px;
  }
}
@media screen and (min-width: 286px) {
  .image {
    width: 230px;
    height: 200px;
  }
}
@media screen and (min-width: 319px) {
  .image {
    width: 260px;
    height: 210px;
  }
}
@media screen and (min-width: 352px) {
  .image {
    width: 280px;
    height: 270px;
  }
}
@media screen and (min-width: 367px) {
  .image {
    width: 290px;
    height: 260px;
  }
}
@media screen and (min-width: 372px) {
  .image {
    width: 300px;
    height: 250px;
  }
}
@media screen and (min-width: 400px) {
  .image {
    width: 330px;
    height: 280px;
  }
}
@media screen and (min-width: 425px) {
  .image {
    width: 350px;
    height: 300px;
  }
}
@media screen and (min-width: 450px) {
  .image {
    width: 380px;
    height: 330px;
  }
}
@media screen and (min-width: 469px) {
  .image {
    width: 400px;
    height: 350px;
  }
}
@media screen and (min-width: 500px) {
  .image {
    width: 430px;
    height: 380px;
  }
}
@media screen and (min-width: 525px) {
  .image {
    width: 450px;
    height: 400px;
  }
}
@media screen and (min-width: 550px) {
  .image {
    width: 470px;
    height: 420px;
  }
}
@media screen and (min-width: 576px) {
  .image {
    width: 200px;
    height: 250px;
  }
}
@media screen and (min-width: 769px) {
  .image {
    width: 120px;
    height: 170px;
  }
}
@media screen and (min-width: 992px) {
  .image {
    width: 130px;
    height: 180px;
  }
}
@media screen and (min-width: 1199px) {
  .image {
    width: 160px;
    height: 210px;
  }
}
