@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.notificationDay {
  padding-bottom: 20px;
  padding-top: 20px;
}
.notificationHeaderText {
  font-style: normal;
  font-weight: 500;
  font-size: 30.5141px;
}
.markAsRead {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.notificationMessages {
  /* border-bottom: 1px solid #e0e0e0; */
  padding-bottom: 0px;
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  padding-right: 20px;
}
.notificationDay {
  font-size: 20px;
  font-weight: lighter;
}
@media screen and (max-width: 680px) {
  .notificationHeaderText {
    font-size: 25px;
  }
  .notificationMessages {
    font-size: 13px;
    padding-right: 10px;
  }
  .notificationDay {
    font-size: 15px;
  }
  .markAsRead {
    font-size: 12px;
    float: right;
    margin-top: 10px;
  }
}
@media screen and (max-width: 350px) {
  .notificationHeaderText {
    font-size: 20px;
  }
  .notificationMessages {
    font-size: 13px;
  }
  .notificationDay {
    font-size: 14px;
  }
}
