.profileWrapper,
.profileWrap {
  margin-bottom: 2rem !important;
  height: auto !important;
}

.column {
  // max-height: 60vh;
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.FeedModal {
  .openBtn {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .closeBtn {
    margin: 10px;
    display: none;

    @media screen and (max-width: 991px) {
      display: flex;
    }
  }
}
.cardColumn {
  max-height: 60vh !important;
  overflow-y: scroll;
  padding-bottom: 2rem;

  @media screen and (max-width: 991px) {
    max-height: 100vh !important;
  }
}

.trimmed {
  display: none;

  @media screen and (max-width: 991px) {
    display: block;
    margin-top: 1rem;
    display: flex;
  }
}

.profileWrapper {
  padding-bottom: 2rem;
}

.title {
  // margin-left: -1rem;

  @media screen and (max-width: 600px) {
    margin-left: -0.8rem !important;
  }

  .div {
    font-weight: 200;
    line-height: 1.5rem;
    small {
      @media screen and (max-width: 800px) {
        margin-right: 0 !important;
      }

      @media screen and (max-width: 400px) {
        font-size: small;
      }
    }

    @media screen and (max-width: 330px) {
      line-height: 1.5rem;
      font-size: smaller !important;
    }
  }

  span {
    @media screen and (max-width: 400px) {
      font-size: medium;
    }

    @media screen and (max-width: 330px) {
      font-size: 0.85rem;
    }
  }

  .dropdown {
    background: none !important;

    @media screen and (max-width: 540px) {
      margin-right: -2rem;
      margin-top: 1rem;
    }

    @media screen and (max-width: 500px) {
      margin-right: 0;
      margin-top: 0;
    }

    @media screen and (max-width: 400px) {
      right: 3% !important;
    }

    @media screen and (max-width: 300px) {
      right: 3% !important;
    }

    .item {
      @media screen and(max-width: 900px) {
        font-size: medium;
      }

      @media screen and(max-width: 800px) {
        font-size: small;
      }

      @media screen and(max-width: 700px) {
        font-size: smaller;
      }

      @media screen and(max-width: 500px) {
        font-size: x-small;
      }

      @media screen and(max-width: 300px) {
        font-size: xx-small;
      }
    }
  }
}
.imgModal {
  margin-bottom: 2rem;
  height: 95%;
}

.cardFooter {
  @media screen and (max-width: 1000px) {
    margin-left: -1.5rem !important;
  }

  .footerName {
    @media screen and (max-width: 1200px) {
      display: none !important;
    }
    @media screen and (max-width: 768px) {
      display: block !important;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 600px) {
      display: none !important;
    }
  }
}

.mouseOverBtn:hover {
  color: white;
}
