.editTab{
    // margin-left: 200px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    @media screen and (max-width:768px) {
       margin-top: 15px;
    }
}
.editCoverTab{
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}